{% extends "base.html" %}
{% block title %}{% if variety %}Edit variety{% else %}Add a variety{% endif %} - YardWise{% endblock %}
{% block content %}
<header class="page-head">
  <div class="kicker">Crop library</div>
  <h1>{% if variety %}{{ variety }}{% else %}Add a variety{% endif %}</h1>
  <div class="sub">Timing fields are in weeks relative to your average last frost - leave anything unknown blank.</div>
</header>
{% url 'variety-list' as cancel_url %}
{% include "garden/_simple_form.html" %}
{% endblock %}
